@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'tailwindcss';

@theme {
	--color-accent: #f4a63f;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Inter', sans-serif;
	background-color: var(--color-accent);
	color: #000000;
	line-height: 1.6;
	overflow-x: hidden;
}

/* Бегущая строка */
@keyframes marquee {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}

.marquee {
	animation: marquee 20s linear infinite;
	white-space: nowrap;
}

::-webkit-scrollbar {
	display: none;
}
